<html>
<head>
    <title>API Display</title>
    <style>
        table,td{
            border: 1px solid #333;
        }
    </style>
</head>
<body>
    <h1>Names</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Departamento</th>
        </tr>
        {% for e in employees %}
        <tr>
            <td>{{e.0}}</td>
            <td>{{e.1}}</td>
            <td>{{e.2}}</td>
        </tr>
        {% endfor %}
        
    </table>
    
</body>
</html>